html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./static/img/2.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.formInput{
  position: fixed;
  top: 150px;
  left: 550px;
  width: 100px;
  height: 75px;
}

h1 {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: Helvetica,'lato', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.opportunityWrapper {
  display: flex;
  flex-flow: row;
  height: 60%;
}

.OpportunityHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: Helvetica,'lato', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.typeButton {
  position: fixed;
  top: 150px;
  left: 550px;
  width: 100px;
  height: 75px;
  border: none;
  margin: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 10;
  font-family: Helvetica,'Droid Sans', sans-serif;
  background-color: #019875;
  color: #fff;
}

.OpportunityBody {
  padding-top: 1px;
  display: block;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: inherit;
}

.opportunityFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
}
