html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./static/img/2.jpeg');
  background-attachment: fixed;
  background-size: cover;
}


.typeInput{
  left: 200px;
  width: 100px;
  height: 50px;
  padding: 120px 20px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}


.titleInput{
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}

.companyInput{
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  margin-left: 0px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}

.locationInput{
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  margin: 10px 50px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}

.descriptionInput{
  width: 460px;
  height: 150px;
  padding: 12px 20px;
  margin-left: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}

.linkInput{
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  margin: 10px 50px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F8F8F8;
}

.input:focus{
  outline: none;
  border: 3px solid #555;
}

.boorder{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}

.noteInput{
 position: absolute;
 top: 16px;
 left: 0;
 font-size: 16px;
 color: #9098A9;
 font-weight: 500;
 transform-origin: 0 0;
 transition: all .2s ease;
}

.noteInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}

.formInput{
  position: fixed;
  top: 150px;
  left: 550px;
  width: 100px;
  height: 75px;
}

h1 {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: Helvetica,'lato', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.opportunityWrapper {
  display: flex;
  flex-flow: row;
  height: 60%;
}

.OpportunityHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: Helvetica,'lato', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.typeButton {
  position: fixed;
  top: 150px;
  left: 550px;
  width: 100px;
  height: 75px;
  border: none;
  margin: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 10;
  font-family: Helvetica,'Droid Sans', sans-serif;
  background-color: #019875;
  color: #fff;
}

.OpportunityBody {
  padding-top: 1px;
  display: block;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: inherit;
}

.opportunityFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
}
